.container{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    border: 1px solid black;
    display: flex;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.contant1{
    width: 100%;
    max-width: 430px;
    height: 1000px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    background-color: white;
    margin-right: 30px;
}
.first{
    width: 100%;
    max-width: 380px;
    height: 50px;
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
}
.a1{
    width: 100%;
    max-width: 50px;
    border-radius: 200px;
    height: 50px;
}
.a1>img{
    width: 100%;
    max-width: 50px;
    border-radius: 200px;
    height: 50px;
}
.a2{
    width: 100%;
    max-width: 3500px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
}
.a3{
    width: 100%;
    max-width: 50px;
    border-radius: 200px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}
.a4{
    width: 100%;
    max-width: 50px;
    border-radius: 200px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}
.second{
    width: 100%;
    max-width: 400px;
    height: 50px;
    padding-left: 15px;
}
.second>h3>a{
    padding-left: 140px;
    font-weight: normal;
}
.design{
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin-left: 30px;
    display: flex;
}
.b1{
    width: 100%;
    max-width: 350px;
    border: 1px solid whitesmoke;
    height: 300px;
    border-radius: 10px;
}
.c1{
    width: 100%;
    max-width: 270px;
    height: 80px;
    border-bottom: 1px solid black;
    margin-left: 15px;
    display: flex;
}
.c1>h3>a{
    font-size: 17px;
    font-weight: normal;
}
.im{
    width: 100%;
    max-width: 70px;
    height: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-left: 15px;
    border-radius: 200px;
    background-color: rgb(247, 189, 113);
}
p{
    padding-left: 10px;
    font-size: 18px;
}
a{
    padding-left: 10px;
    font-size: 17px;
}
.cir{
    width: 100%;
    max-width: 350px;
    height: 95px;
    display: flex;
}
.cir1{
    width: 100%;
    max-width: 200px;
    height: 90px;
}
.d1{
    display: flex;
}
.e1{
    width: 100%;
    max-width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 20px;
}
.cir2{
    width: 100%;
    max-width: 100px;
    height: 95px;
}
.c3{
    width: 100%;
    max-width: 300px;
    height: 10px;
    border-radius: 0 0 200px 200px;
    background-color: rgb(247, 189, 113);
}
.d2{
    display: flex;
}
.e2{
    width: 100%;
    max-width: 30px;
    margin-top: 10px;
    height: 30px;
    margin: 5px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background:conic-gradient(#4DBFFf 0% 75%,#EAEAEA 30% 100%);
}
.progress-circle{
    width: 100%;
    max-width: 20px;
    border-radius: 20px;
    background-color: white;
    height: 20px;
}
.ci{
    width: 100%;
    max-width: 350px;
    padding-top: 19px;
    height: 95px;
    display: flex;
}
.e3{
    padding-top: 10px;
}
.b2{
    margin-left: 30px;
    width: 100%;
    max-width: 70px;
    height: 300px;
    border: 1px solid whitesmoke;
    border-radius: 10px 0 0 10px;
}
.c2{
    width: 100%;
    max-width: 60px;
    height: 80px;
    border-bottom: 1px solid black;
    margin-left: 15px;
    display: flex;
}
.c2>h3>a{
    font-size: 17px;
    font-weight: normal;
}
.c4{
    width: 100%;
    max-width: 70px;
    height: 10px;
    border-radius: 0 0 0 200px;
    background-color: blue;
}
.third{
    width: 100%;
    max-width: 400px;
    height: 50px;
    padding-left: 15px;
    padding-top: 20px;
}
.third>h3>a{
    padding-left: 200px;
    font-weight: normal;
}
.four{
    width: 100%;
    max-width: 390px;
    height: 170px;
    margin: 20px;
}

.row1{
    width: 100%;
    max-width: 390px;
    height: 100px;
    display: flex;
}
.r1{
    width: 100%;
    max-width: 10px;
    border-radius: 20px 0 0 0;
    height: 100px;
    background-color: rgb(235, 160, 160);
}
.r2{
    width: 100%;
    max-width: 300px;
}
.r2>p{
    font-size: 20px;
    font-weight: bold;
    text-decoration: line-through;
}
.r2>a{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.r3{
    width: 100%;
    max-width: 100px;
    height: 100px;
    border: 1px solid red;
}
.row2{
    width: 100%;
    max-width: 390px;
    height: 70px;
    display: flex;
}
.q1{
    width: 100%;
    max-width: 10px;
    border-radius: 0 0 0 20px;
    height: 70px;
    background-color: rgb(235, 160, 160);
}
.q2{
    width: 100%;
    max-width: 300px;
    padding-left: 5px;
    padding-top: 20px;
}
.q3{
    width: 100%;
    max-width: 100px;
    height: 70px;
    display: flex;
}
.w1{
    width: 100%;
    max-width: 40px;
    border: 1px solid black;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
}
.w2{
    width: 100%;
    max-width: 40px;
    border: 1px solid black;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
}
.five{
    width: 100%;
    max-width: 390px;
    height: 170px;
    margin-left: 20px;
    margin-right: 20px;
    filter: blur(2px);
}
.six{
    width: 100%;
    max-width: 400px;
    height: 70px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: blue;
}
.six>h3{
    color: white;
    text-align: center;
    padding-top: 20px;
}


.contant2{
    width: 100%;
    max-width: 430px;
    height: 1000px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    margin-top: 50px;
}
.all{
    filter: blur(2px);
    width: 100%;
    max-width: 430px;
    height: 230px;
}
.contact{
    width: 100%;
    max-width: 430px;
    height:767px ;
    border-radius: 30px;
    border: 1px solid gray;
    background-color: white;
}